* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
html {
  -webkit-font-smoothing: antialiased;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}
body {
  background: #f0e9ee;
  color: #1e2835;
  font-size: 1.5em;
}
.jumbotron {
  background: #f0e9ee;
  margin: 2em 0;
}
.panel.panel-primary {
  box-shadow: 0px 2px 10px 1px #1a3b4c;
}
.pull-right > .dropdown-menu {
  background: #ecf9f2;
  box-shadow: 0px 2px 10px 1px #102310;
}
.well {
  background: #ffffff;
  border: none;
  margin: 1.25em auto 0;
  text-align: center;
}
.well.well-top {
  margin: 0;
  padding: 0;
}
.well > .color-menu,
.well > .width-menu {
  margin: 0 1em;
}
.shrink {
  box-shadow: 0px 0px 5px #000000;
  height: 14px;
  margin-bottom: 0.2em;
}
.btn-info,
#switch {
  text-shadow: 0px 0px 10px #000000;
}
.dropdown-menu > li > a {
  color: #0c2719;
  text-shadow: 0px 0px 10px #b1e7cb;
}
.dropdown-menu .divider {
  background: #cae8ca;
  text-shadow: 0px 0px 10px #b1e7cb;
}
.glyph {
  padding: 0 1em;
}
.drop,
.down {
  padding: 0 1em;
  vertical-align: middle;
}
.squeeze-left {
  padding: 0 0.5em 0 1em;
}
.squeeze-right {
  padding: 0 1em 0 0.5em;
}
h1 {
  margin: 0 0 1em 0;
  padding: 0.6em;
  text-align: center;
  text-shadow: 1px 1px 10px #000000;
}
.btn {
  border: 1px solid #31708f;
  box-shadow: 0px 2px 10px 1px #1a3b4c;
}
h3 {
  color: #4b814c;
  margin: 0;
  padding: 1em;
  text-align: center;
  text-shadow: 1px 1px 10px #337ab7;
}
.list-group-item-info {
  border-bottom: 1px solid;
  border-top: 1px solid;
}
.list-group-item {
  border: none;
}
.gameSet {
  border-bottom: 1px solid;
  text-align: center;
}
.give {
  border: none;
  padding-left: 3em;
}
.take {
  padding-right: 7em;
  text-align: right;
}
.bye {
  font-style: italic;
  text-align: center;
}
.status {
  border-color: #31708f;
  border-style: solid;
  border-width: 1px 0 2px 0;
  font-style: italic;
  text-align: center;
}
.intro {
  color: #31708f;
  font-size: 19px;
  font-weight: bold;
  text-align: center;
}
.list-group + .panel-footer {
  border-top: 1px solid #31708f;
}
.panel-footer {
  border-top: 1px solid #b3b3b3;
  padding: 2em;
}
.input-group-btn:last-child > .btn {
  text-shadow: 1px 1px 1px #000000;
}
#guesses.list-group {
  margin-bottom: 0;
}
#top-message {
  padding: 0.5em;
  text-align: center;
}
.easel {
  border: 1px solid #c7cacd;
  box-shadow: 0px 2px 10px 1px #888888;
  display: block;
  height: 600px;
  margin: 0 auto;
  width: 100%;
}
.input-group .form-control:first-child {
  box-shadow: inset 0px 0px 5px -1px #696969, 0px 2px 10px -1px #1a3b4c;
}
.full-spectrum .sp-palette {
  max-width: 200px;
}
#red-ink,
#orange-ink,
#yellow-ink,
#green-ink,
#blue-ink,
#indigo-ink,
#violet-ink {
  height: 10px;
  width: 10px;
}
#red-ink {
  background: #ff0000;
}
#orange-ink {
  background: #ffa500;
}
#yellow-ink {
  background: #ffff00;
}
#green-ink {
  background: #008000;
}
#blue-ink {
  background: #0000ff;
}
#indigo-ink {
  background: #4b0082;
}
#violet-ink {
  background: #9900ff;
}
#black-ink,
.login.page {
  background: #000000;
}
input {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
ul {
  list-style: none;
  word-wrap: break-word;
}
.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
.page {
  height: 100%;
  position: absolute;
  width: 100%;
}
.login.page .form {
  height: 100px;
  margin-top: -6.25em;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.login.page .form .usernameInput {
  background: transparent;
  border-bottom: 2px solid #ffffff;
  border: none;
  outline: none;
  padding-bottom: 1em;
  text-align: center;
  width: 400px;
}
.login.page .title,
.login.page .usernameInput {
  color: #ffffff;
  font-size: 200%;
  font-weight: 100;
}
.login.page .usernameInput {
  letter-spacing: 3px;
}
.game.page {
  display: none;
}
.guesses {
  font-size: 150%;
  height: 100%;
  margin: 0;
  overflow-y: scroll;
}
.inputGuess {
  font-size: 100%;
}
.log {
  font-size: 70%;
  margin: 0.3em;
  text-align: center;
}
.gameArea {
  height: 100%;
  padding: 0;
}
.message.typing .messageBody,
.log {
  color: #808080;
}
.username {
  font-weight: 700;
  overflow: hidden;
  padding-right: 1em;
  text-align: right;
}

@media only screen and (max-width: 2560px) and (min-width: 1025px) {
  #canvas {
    width: 57.5%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 992px) {
  #canvas {
    width: 72%;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  #canvas {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  #canvas {
    width: 86.24%;
  }
  .panel-title {
    font-size: 3em;
  }
}
